* {
 margin: 0;
 padding: 0;
     }
@font-face {
  font-family: lunchtype;
  src: url(Lunchtype21-Regular.ttf);
}
body {

  margin: auto;
  margin-top: 25vh;
/*  background-color: #95EDB7; */
  font-family: lunchtype, Arial, Helvetica, sans-serif;

  width: 50vw; 
  /* border: 1px solid #2d2d2d; */
  display: flex;
  /* justify-content: center; */
   align-items: center; 

    background: linear-gradient(to bottom right, pink, green, white);
    animation: barberpole 6s linear infinite;
    background-size: 150% 75%;
}
canvas {
  /* padding: 4vmin;  */
  display: inline-block;
  margin-right: 7vmin;
}
h1 {
 margin-right: 7vmin;
 font-size: 4rem;
}
p {
 font-size: 3rem;
}
@keyframes barberpole {
	0% {
            background-position: 0 0;
	}
	100% {
            background-position: -150% 0;
	}
}
