html, body {
  margin: 0;
  padding: 0;
}
body {
  color: white;
  background-color: red;
}
canvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: block;
}
p {
  font-size: 2.5em;
}
