body {  
     background: linear-gradient(-90deg, black, purple, pink, white, pink, purple, black); 
}

h1 {
    color: #111;
    font-family: 'Schoolbell', cursive;
    font-size: x-large;
}

h2 {
    color: #111;
    font-family: 'Open Sans',sans-serif; 
}

p {
    color: #685206;
    font-family: 'Schoolbell', cursive;
    font-size: larger;
}
