html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  border: none;
}

input, button {
  background-image: url('assets/background.png');
  background-color: lightblue; 
}

canvas {
  top: 0;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
