body {
	background-color: eggshell;
	width: 64vw;
	margin: auto;
	font-size: larger;
	font-family: Tahoma, Verdana, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}
#overlay {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
	pointer-events: none;
	min-width: 100%;
	opacity: 0.7;
}
