* {
box-sizing: border-box;
   }
body {
  margin: 1em;
  padding: 2em;
  background-color: burlywood;
}
main {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3em;
  margin-right: 3em;
}
div {
  border: dotted;
  width: 14%;
  height: 128px;
}
div > p {
  background-color: white;
  font-size: bigger;
  padding: 0.3rem;
  border: solid 0.5px;
  border-radius: 50%;
  position: absolute;
}
div > img {
  width: 100%;
  min-width: 100px;
  height: 100%;
  min-height: 100px;
  object-fit: cover;
}
