html {
	background: rgb(34, 193, 195);
	background: linear-gradient(
		0deg,
		rgba(34, 193, 195, 1) 82%,
		rgba(253, 187, 45, 1) 100%
	);
}

iframe {
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF9F;
	width: 100vmin;
	height: 100vmin;
	margin-top: 15px;
	margin-bottom: 15px;
	display: block;
}
